<ion-header>
  <ion-toolbar color="primary">
    
    <!-- Título alineado a la izquierda -->
    <ion-title slot="start">
      <h3 class="tit"> {{ 'AppName' | translate }} </h3>
    </ion-title>
    

    <!-- Botones alineados a la derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="sendClickEvent('scan')" size="small">
        <ion-icon name="qr-code-outline" color="light"></ion-icon>
        &nbsp;
      </ion-button>
      
      <ion-button (click)="logout()" size="small" fill="clear">
        <ion-icon name="log-out-outline" color="light"></ion-icon>
        {{ 'ThemePage.Button.Logout' | translate }}
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
