<ion-header>
  <ion-toolbar color="primary">

    <ion-title>
      <h4> {{ 'AppName' | translate }} </h4>
    </ion-title>

    <div slot="end">

      <!--<ion-button (click)="sendClickEvent('testqr')" size="small" >
        <ion-icon name="qr-code-outline" color="light"></ion-icon>
        &nbsp;Test
      </ion-button> -->


      <ion-button (click)="sendClickEvent('scan')" size="small" >
        <ion-icon name="qr-code-outline" color="light"></ion-icon>
        &nbsp;{{ 'head.asis' | translate }}
      </ion-button>

      <ion-button (click)="logout()" size="small" fill="clear">
        <ion-icon name="log-out-outline" color="light"></ion-icon>
      </ion-button>

    </div>
  </ion-toolbar>
</ion-header>
