/* Fondo que cubre toda la pantalla */
.card-background {
  background-image: url('../../../assets/images/Denisse.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Contenedor centrado para todo el contenido */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Estilo para el encabezado centrado */
.centered-content {
  text-align: center;
  margin-bottom: 20px;
}

/* Logo centrado */
.logo {
  width: 80%;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

/* Estilo del toolbar centrado */
.centered-toolbar {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  background: rgb(3, 26, 48);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

/* Estilo de la tarjeta centrada */
.card {
  background-color: rgba(255, 255, 255, 0.308); /* Fondo semi-transparente */
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título y texto en negro */
h1, ion-label {
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.titu{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  font-weight: bolder;

}

ion-toolbar {
  font-size: 15px;
  --background: #031a30;
  border-radius: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-item {
  --padding-bottom: 15px; 
  --background: rgba(255, 255, 255, 0.377);    
  color: #000000; 
  height: 70px; 

}

ion-input {
  color: #000000; 

}
/* Botón con estilo azul */
ion-button {
  --background: #031a30;  /* Azul estándar */
  color: #ffffff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
}
