<ion-content [fullscreen]="true" class="ion-padding card-background">
  <img class="background-image" src="/assets/images/Denisse.jpg">
  <ion-card-header class="centered-content">
    <img src="../../../assets/images/Duoc.png" alt="Logo Duoc UC" class="logo" style="width: 100%; max-width: 300px;">
  </ion-card-header>

  <div class="center-container">
    <ion-toolbar class="centered-toolbar">
      <ion-label class="titu">Asistencia de Duoc</ion-label>
      <br>
    </ion-toolbar>
    <br><br><br><br>
    

    <ion-card class="ion-text-center card">
      <h1>Recuperar Contraseña</h1>
      <ion-card-content>
        

        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="correo"
            placeholder="Ej: mperez@mail.com"
            labelPlacement="floating">
          </ion-input>
        </ion-item>
        <br><br>
        <ion-button expand="block" size="large" (click)="validateSecretQuestion()">
          <ion-icon name="checkmark"></ion-icon>
          Verificar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
